Makefile.in
autom4te.cache
aclocal.m4
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
.deps
*.o
*.lo
*.deps
*.libs
*.Plo
*.Po
*.la
*.so
*.dylib
.DS_Store
*.project
*.cproject
/IlmBase/build12/CMakeFiles
/IlmBase/build12/Half/*.dir
/IlmBase/build12/HalfTest/*.dir
/IlmBase/build12/HalfTest/CMakeFiles
/IlmBase/build12/Iex/*.dir
/IlmBase/build12/IexMath/*.dir
/IlmBase/build12/IlmThread/*.dir
/IlmBase/build12/Imath/*.dir
/IlmBase/build12/ImathTest/*.dir
/IlmBase/build12/IexTest/*.dir
/IlmBase/build12/Half/Debug
/IlmBase/build12/Iex/Debug
/IlmBase/build12/HalfTest/Debug
/IlmBase/build12/IexMath/Debug
/IlmBase/build12/IlmThread/Debug
/IlmBase/build12/Imath/Debug
/IlmBase/build12/ImathTest/Debug
/IlmBase/build12/ipch
/IlmBase/build12/cmake_install.cmake
/IlmBase/build12/Half/cmake_install.cmake
/IlmBase/build12/HalfTest/cmake_install.cmake
/IlmBase/build12/Iex/cmake_install.cmake
/IlmBase/build12/IexMath/cmake_install.cmake
/IlmBase/build12/IexTest/cmake_install.cmake
/IlmBase/build12/IlmThread/cmake_install.cmake
/IlmBase/build12/Imath/cmake_install.cmake
/IlmBase/build12/ImathTest/cmake_install.cmake
/IlmBase/build12/CPackConfig.cmake
/IlmBase/build12/CPackSourceConfig.cmake
/IlmBase/build12/CTestTestfile.cmake
/IlmBase/build12/Half/CTestTestfile.cmake
/IlmBase/build12/HalfTest/CTestTestfile.cmake
/IlmBase/build12/Iex/CTestTestfile.cmake
/IlmBase/build12/IexMath/CTestTestfile.cmake
/IlmBase/build12/IexTest/CTestTestfile.cmake
/IlmBase/build12/IlmThread/CTestTestfile.cmake
/IlmBase/build12/Imath/CTestTestfile.cmake
/IlmBase/build12/ImathTest/CTestTestfile.cmake
/IlmBase/build12/Half/CMakeFiles/generate.stamp.depend
/IlmBase/build12/Iex/CMakeFiles/generate.stamp.depend
/IlmBase/build12/IexMath/CMakeFiles/generate.stamp.depend
/IlmBase/build12/IexTest/CMakeFiles/generate.stamp.depend
/IlmBase/build12/IlmThread/CMakeFiles/generate.stamp.depend
/IlmBase/build12/Imath/CMakeFiles/generate.stamp.depend
/IlmBase/build12/ImathTest/CMakeFiles/generate.stamp.depend
/IlmBase/build12/Win32
/IlmBase/build12/Half/CMakeFiles/generate.stamp
/IlmBase/build12/Iex/CMakeFiles/generate.stamp
/IlmBase/build12/IexMath/CMakeFiles/generate.stamp
/IlmBase/build12/IexTest/CMakeFiles/generate.stamp
/IlmBase/build12/IlmThread/CMakeFiles/generate.stamp
/IlmBase/build12/Imath/CMakeFiles/generate.stamp
/IlmBase/build12/ImathTest/CMakeFiles/generate.stamp
/IlmBase/build12/Debug
/IlmBase/build12/*.sdf
/IlmBase/lib12
/IlmBase/build12/IexTest/Debug
/IlmBase/build12/*.suo
/IlmBase/build12/*.opensdf
/IlmBase/build12/*.txt
